body{
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}
.jumbotron{
    background-image: url("../media/plates-header.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: baseline;
}

.list{
    display: flex;
    align-items: baseline;
    text-decoration: none;
}

.fa-sort-down{
    padding:3px;
    color:black;
}

a, .cart{
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.title-container{
    width: 55%;
    margin: auto;
    background-color: #393935;
    color: white;
    height: 100%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 100px;
    height: 50px;
    border-bottom: solid white 1px;
    font-weight: normal;
}

.title-p{
    margin-top: 0;
    width: 90%;
    text-align: center;
    padding-bottom: 4em;
    font-size: smaller;
}

.grid-container
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px;
    margin: 0 auto;
    width: 80%;
}

.plates{
    margin-top: 50px;
    text-align: center;
}

.modelPlates{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.mark, .price{
    color: gray;
    font-size: smaller;
}

/* overlay*/
.imgArticle {
    display: block;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(50%, -180%);
}
  
.container:hover .imgArticle {
    opacity: 0.5;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.btn {
    display: block;
    width: 100%;
    background-color:grey;
    color: white;
    padding: 5px 15px;
    margin: 5%;
    border:none;
  }

.btn:hover{
    background-color: black;
}

/* pop up */

.cart:active{
    text-decoration: underline;
}

.pop-up-container{
    width: 350px;
    background-color: white;
    padding: 10px;
    padding-top: 0px;
    position: absolute;
    opacity: 0;
    transform: translate(-70%, 2%);
}
.imagePopUp{
    width: 130px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}
.fa-times{
    float:right;
    padding:3px;
}

.pop-up{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.number{
    font-size: smaller;
}
.pPop-up__mark{
    color:gray;
    font-size: smaller;
}
.pPop-up__price{
    font-weight: bolder;
}
.flex-popup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:gray;
}
.container-btn__popup{
    display: flex;
}
.btn__popup{
    width: 40%;
    margin: 3px auto;
    padding: 15px;
}
.checkout{
    color: white;
    background-color: black;
}
.view{
    color:black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
}
.pPop-up{
    height: 150px;
}

/* media queries*/
@media screen and (max-width: 991px){
    .middle {
    transform: translate(40%, -180%);
    }
    .modelPlates{
    font-size: 12px;
    }
}

@media screen and (max-width: 768px){
    #logo{
        order:2;
    }
    .cart-container{
        order:3;
    }
    .menu{
        visibility: hidden;
        width: 15%;
    }
    .middle {
        transform: translate(48%, -165%);
      }
    
    .imgArticle {
        height: 150px; 
    }
    .grid-container{
        grid-template-columns: 40% 40%;
        grid-column-gap: 10%;
    }
}

@media screen and (max-width: 480px){
    .middle {
        transform: translate(5%, -165%);
      }
}