body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-image: url(./media/plates-header.jpg);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;  
    background-color: white;
    font-weight: bold;
    font-size: 11px;
}
.img-cut{
    height: 30px;
    background-color: white;
}
.list{
    display: inline-block;
    list-style: none;
    margin:1em;
}
.title-container{
    text-align: center;
    width: 40%;
    margin: auto;
}
