body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
}

.jumbotron{
    background-image: url("./media/plates-header.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

nav ul{
    list-style: none;
    display: flex;
}

.list{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}
.fa, .fas{
    padding:3px;
    padding-bottom: 7px;
}

.title-container{
    width: 55%;
    margin: auto;
    background-color: #393935;
    color: white;
    height: 100%;
    border-left: solid white 5px;
    border-right: solid white 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: 100px;
    height: 50px;
    border-bottom: solid white 1px;
    font-weight: normal;
}

header div p{
    margin-top: 0;
    width: 90%;
    text-align: center;
    padding-bottom: 4em;
    font-size: smaller;
}

.grid-container
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px;
    margin: 0 auto;
    width: 80%;
}

.plates{
    margin-top: 50px;
    text-align: center;
}

.imgArticle {
    display: block;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
  }
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(40%, -180%);
  }
  
.container:hover .imgArticle {
    opacity: 0.3;
  }
  
.container:hover .middle {
    opacity: 1;
  }
  
.btn {
    display: block;
    width: 100%;
    background-color:grey;
    color: white;
    padding: 5px 15px;
    margin: 5%;
    border:none;
  }

.btn:hover{
    background-color: black;
}

.modelPlates{
    text-transform: uppercase;
    font-size: 12px;
}
.mark, .price{
    color: gray;
    font-size: smaller;
}